vpn.{{ host.name }}.apigban.com {
  log

  reverse_proxy http://headscale

  reverse_proxy /metrics* http://headscale:9090

  reverse_proxy /web* https://headscale-ui {
                      transport http {
                      tls_insecure_skip_verify
                      }
  }  
}

auth.{{ host.name }}.apigban.com {
  log
  reverse_proxy http://authentik-server:9000
}

portainer.{{ host.name }}.apigban.com {
  log
  reverse_proxy http://portainer:9000
}